.sectionAbout {
    min-height: 90vh;
    background-color: #04121b;
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "aboutTitle aboutTitle aboutTitle aboutTitle""myPhoto aboutText aboutText aboutText""myPhoto aboutText aboutText aboutText";
    justify-content: center;
    text-align: center;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.aboutTitle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px 1px;
    grid-template-areas: ". . ."". . .";
    grid-area: aboutTitle;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.myPhoto {
    grid-area: myPhoto;
    object-fit: contain;
    margin-bottom: 0;
}

.aboutText {
    grid-area: aboutText;
    margin-bottom: 0;
}

.myPhoto img {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sectionAbout p {
    font-size: 22px;
    color: white;
    margin: 0.5rem;
    padding: 5vh 5vh 0 5vh;
    text-align: justify;
}


.sectionAbout p:nth-child(1) {
    text-align: center;
}