* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

header,
section {
    min-height: 90vh;
}

.content {
    position: relative;
    width: 100%;
    background-image: url(resources/header2.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.large-header {
    background-color: rgba(0, 0, 0, 0.5);
}

.small-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.photo,
.title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    min-width: 30vw;
    min-height: 50vh;
    filter: drop-shadow(16px 16px 20px rgba(156, 217, 249));

}

nav a:hover {
    text-decoration: underline;
    color: rgba(156, 217, 249);
}


.sectionSkills {
    background-color: slateblue;
}

.sectionPortfolio {
    background-color: teal;
}

.sectionContact {
    background-color: thistle;
}

.sectionAbout {
    background-color: #100e0f;
    color: white;
}

.sectionAbout h2 {
    color: rgb(156, 217, 249);
    animation: glow 2s ease-in-out infinite alternate;
    font-size: 4rem;
    text-transform: uppercase;
}



@keyframes glow {
    from {
        text-shadow: 0 0 20px #2d9da9;
    }

    to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}