/* Colors:
Main - darkest blue #04121b rgb(4, 18, 27);
Second - dark blue #042235 rgb(4, 34, 53);
Third - light blue #8bb1ba 	rgb(139, 177, 186); 
text color - #9cd9f9 rgb(156, 217, 249) */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    /* flex-grow: 1; */
    font-size: 24px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    padding: 20px;
}

nav a:nth-child(1) {
    color: lightskyblue;
}

header,
section {
    min-height: 90vh;
}

/* header {
    background-color: #010b0e;
}

.content {
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 20%;
    border: 2px solid #4dbbc7;
} */


nav a {
    font-family: 'Yatra One', cursive;
}

nav a:hover {
    text-decoration: underline;
    color: #9cd9f9;
}


.sectionSkills {
    background-color: #042235;
}

.sectionPortfolio {
    background-color: #042235;
}

.sectionContact {
    background-color: #04121b;
}



h3 {
    color: #9cd9f9;
    animation: glow 2s ease-in-out infinite alternate;
    width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Yatra One', cursive;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: black;
    color: #9cd9f9;
    text-align: center;
    padding: 2vh;
}

footer p {
    padding: 1vh;
}

footer p a:link {
    color: white;
}

footer p a:visited {
    color: lightblue;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #2d9da9;
    }

    to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}