* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    max-width: 1920px;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

div.initials {
    position: relative;
    color: white;
    height: 100vh;
    width: 100vw;
}

div.initials h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3em;
}

div.initials h2 {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 2em;
}

div.initials a {
    position: absolute;
    top: 70%;
    left: 15%;
    font-size: 2em;
    text-decoration: none;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 10px 15px;
}